/* ------------ Overriding Bootstrap defaults [o] ------------ */


/* --- Overriding Bootstrap background colors [o] --- */

.bg-primary {
    background-color: #7d3ffe!important;
}

.bg-secondary {
    background-color: #6f3c64!important;
}

.bg-success {
    background-color: #d98531!important;
}

.bg-light {
    background-color: #f3e9f1!important;
}

.bg-dark {
    background-color: #261624!important;
}

/* --- Overriding Bootstrap background colors x] --- */


/* --- Overriding Bootstrap border colors [o] --- */

.border {
    border-color: #D5CDD4!important;
}

/* --- Overriding Bootstrap border colors [x] --- */


/* --- Overriding Bootstrap links colors [o] --- */

.link-dark {
    color : #261624!important;
}

.link-dark:hover, .link-dark:focus {
    color : #5706FE!important;
}

/* --- Overriding Bootstrap links colors x] --- */


/* --- Overriding Bootstrap button colors [o] --- */

.btn-primary {
    background-color: #5706FE!important;
    border-color: #5706FE!important;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #7d3ffe!important;
    border-color: #7d3ffe!important;
}

.btn-success {
    background-color: #d98531!important;
    border-color: #d98531!important;
    color: #261624;
}

.btn-success:hover, .btn-success:focus {
    background-color: #a8631f!important;
    border-color: #a8631f!important;
}

/* --- Overriding Bootstrap button colors [x] --- */


/* --- Overriding Bootstrap form colors [o] --- */

.input-group-text {
    background-color: #6f3c64!important;
    color: #ffffff;
}

.form-control {
    border: 4px solid #7d3ffe!important;
}

.form-control:hover, .form-control:focus {
    border: 4px solid #d98531!important;
}
/* --- Overriding Bootstrap form colors [x] --- */


/* --- Cards image fixed height correction [o] --- */

.image-mid-height {
    height: 180px!important;
    object-fit: cover!important;
    object-position: 40% 50%!important;
}

@media screen and (min-width: 768px) {
    .image-height {
        height: 240px!important;
        object-fit: cover!important;
        object-position: 40% 50%!important;
    }
}

/* --- Cards image fixed height correction [x] --- */


/* ------------ Overriding Bootstrap defaults [x] ------------ */

